.navbar{
    padding:0 ;
    margin: 0;
    background-color: #2c3e50;

}
body{
    background-color: #d0d6d6;
    text-align: center;
    margin: 0;
}

.navbar a:hover{
    color: lightblue;
}
.navbar a{
    margin: 2cm;
    font-size:1cm ;
    color: white;
    text-decoration: none;
}
.navbar .rigth nav{
    color: brown;
}
.home img{
    height: 10cm;
    width: 10cm;
    margin: 10px;
    border: 3px solid black;
}
.home{
    display: flex;
}
.home p{
    text-align: justify;
    color: black;
    padding-left: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
}
#msg{
    height: 50px;

}
.but {
background-color: orange;
width: 200px;
color: white;
border: solid black 2px;
border-radius: 12px;
margin: auto;
}
.con{
    /* text-decoration: ; */
    color: #2c3e50 ;
    padding: 10px;
}
.contact{
    background-color:#d0d6d6;
    height: 300px;
}
.footer a:hover{
    color: white;
;
    
}
.footer{
    background-color: #2c3e50;
    height: 100px;
    margin: 0;
}
.footer a{
    text-decoration: none;
    color: orange;
    padding: 10px;
}
.footer p{
    color: white;
   padding: 10px;
   margin-bottom: 5px;
}
.project img{
    height: 5cm;
    width: 8cm;
 
}

.project p{
    text-align: justify;
    margin: 0;
    padding-left: 10px;
    text-align: center;
}
.projectsection{
    display: flex;
    
    justify-content: center;
    gap: 20px;
}
.project{
    text-align: center;
}
.project h1{
    
        color:  #2c3e50;

}
.projectcontent-left{
    width: 8cm;
}
.projectcontent-right{
    width: 8cm;
}
.projectlayout{
    display: flex;
    gap: 20px;
}
