*{
    margin: 0;
    padding: 0;
}
.logo{
    color: white;
    font-size: larger;
}
.navbar {
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row; 
}
.navbar ul li{
    height: 25px;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
    color: lightblue;
}

.navbar a::after{
    content:"" ;
    display: block;
    width:0;
    height: 2px;
    background-color: orange;
    margin-top: 3px;
    transition: 0.2s;
}
.navbar a:hover::after{
     width: 100%;
}
.navlinks.active{
    display: flex;
}
/* .navbar a {
    margin: 2cm;
    font-size: 1cm;
    color: white;
    text-decoration: none;
}

.navbar .rigth nav {
    color: brown;
} */
.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
}
.hamburger span{
    height: 3px;
    width: 25px;
    background-color: white;
}
@media(max-width: 650px){
    .hamburger{
      display: flex;
    }
   .navbar ul{
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    }
}
    

body {
    background-color: #d0d6d6;
    text-align: center;
    margin: 0;
}



.me {
    background-color: #16a085;
    height: 600px;
    font-size: 20px;
}

.me h1 {
    margin-top: 0;
    padding-top: 200px;
    color: white;
}

.me p {
    color: white;
    background-color: #16a085;
    padding-bottom: 20px;
}

.me a:hover {
    background-color: #2c3e50
}

.me a {
    color: white;
    background-color: orange;
    /* border: solid white 1px; */
    height: 50px;
    width: 30px;
    border-radius: 12px;
    padding: 5px;
    text-decoration: none;
}

.home img {
    height: 9cm;
    width: 9cm;
    margin: 10px;
    object-fit: cover;
    border-radius: 200px;
}

.home {
    display: flex;
}

section {
    color: #2c3e50;
    text-align: center;
    font-size: larger;
}

.home p {
    text-align: justify;
    color: black;
    padding: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
}

#msg {
    height: 50px;

}

.form a:hover {
    background-color: #2c3e50;
}

.form a {
    background-color: orange;
    width: 200px;
    color: white;
    border-radius: 12px;
    margin: auto;
    text-decoration: none;
}

.con {
    color: #2c3e50;
    padding: 10px;

}

.contact {
    background-color: #d0d6d6;
    height: 300px;
}

.footer a:hover {
    color: white;
}

.footer {
    background-color: #2c3e50;
    height: 100px;
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: orange;
    padding: 10px;
}

.footer p {
    color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.project img {
    height: 5cm;
    width: 280px;
    object-fit: cover;
}

.project p {
    text-align: justify;
    margin: 0;
    padding-left: 10px;
    text-align: center;
}

.projectsection {
    display: flex;

    justify-content: center;
    gap: 20px;
}

.project {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
}

.project h1 {
    color: #2c3e50;
}

.projectlayout {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}


.projectcontent {
    width: 280px;
    background-color: #d0d6d6;  
}

.projectcontent:hover {
    width: 270px;
    background-color: #b2d3d3; 
}
.service img{
    height: 5cm;
    /* width: 190px; */
    object-fit: cover;
    border-radius: 12px;
    justify-content: center;
    
}
.service{
    padding: 20px;
    background-color: white;
    justify-content: center;
}
.service p{
    text-align: justify;
    margin: 0;
    padding-left: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.service h1{
    color: #2c3e50;
}
.servicecontent{
    width: 280px;
    background-color: wheat;
}
.servicecontent:hover{
     width:270px;
    background-color: rgb(138, 92, 7);
}
.servicelayout{
    display: flex;
    gap: 100px;
    justify-content: center;
}